@{
    ViewBag.Title = "All questions | Developers Place";
}

@using Softvision.BL.Entities;



<div class="row">
    <div class="paddingTop">
        <p>@Html.ActionLink("Ask a question", "Create", "Question", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-12">
        <hr />
        <p>Top questions</p>
        @*important for ajax call*@
        <div id="allQuestions"></div>
    </div>
</div>



<script type="text/javascript" language="javascript">
    window.onload = function () {
        updateQuestions()
    };
</script>