@using Softvision.BL.Entities;

@{
    ViewBag.Title = "Subcategory";
}

<h2>Subcategory</h2>

<p>Top questions</p>
<div class="mainDiv">
    @foreach (var question in (List<QuestionBL>)ViewData["questions"])
    {
        <div class="inlineDiv marginBottom">
            <div class="scoreInlineDiv">
                @Html.DisplayFor(a => question.Vote)
                <span class="glyphicon  glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="scoreInlineDiv">
                @Html.DisplayFor(a => question.Answers.Count)
                <span class="glyphicon  glyphicon-comment" aria-hidden="true"></span>
            </div>
            <div class="titleInlineDiv">
                @{
        var qTitle = Server.HtmlEncode(question.Title).Replace(".", "-").Replace(" ", "-").Replace("?", string.Empty);
        var qId = question.Id;
                }
                @Html.ActionLink(@Html.DisplayFor(a => question.Title).ToString(), "Details", "Question",
                         new { id = qId + "/" + qTitle }, null)
            </div>
            <br />
        </div>
    }
</div>