@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change your password</h2>

<div id="loginDiv">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <input type="text" id="UserEmail" name="UserEmail" placeholder="Email" class="form-control" />
        <input type="password" id="UserOldPassword" name="UserOldPassword" placeholder="Old Password" class="form-control" />
        <input type="password" id="UserNewPassword" name="UserNewPassword" placeholder="New Password" class="form-control" />
        <input type="password" id="UserNewPasswordConfirm" name="UserNewPasswordConfirm" placeholder="Confirm Password" class="form-control" />
        <br />
        <input type="submit" id="btnUserChange" name="btnUserChange" value="Change" class="btn btn-lg btn-block btn-primary" />
    }
</div>